{{!-- // My post route is working and saving to the database. --}}

<div class="container">
    <h1>Eat a Burger!</h1>

    <div class="row">
        <div class="col-4">
            <ul class="recoverable">
                {{#each burgerInfo}}
                {{#unless deleteBurger}}
                <li>{{burger_name}}</li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-4">
            <ul class="deleted">
                {{#each burgerInfo}}
                {{#if deleteBurger}}
                {{burgerInfo}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>You can add the burger right here!</h2>
            <form class="makeBurgerNew">
                <div class="form-group">
                    <label for="makeBurgerNew">Enter a name of a burger you wish to generate!</label>
                    <div class="row">
                        <div class="col">
                            <textarea id="makeBurgerNew" name="makeBurgerNew" rows="2" cols="10"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" id="add">Add Burger</button>
                <button type="delete" id="delete">Delete</button>
            </form>
        </div>
    </div>
</div>

<script>
    $("#add").on("click", function (e) {
        e.preventDefault();
        var burgerName = $("#makeBurgerNew").val();
        console.log(burgerName);
        $.ajax({
            url: "/api/burgers",
            method: "POST",
            data: { name: burgerName }
        }).then(function (response) {
            console.log(response)
        })
    })
</script>