<div class="container">
    <h1>Eat a Burger!</h1>
    </section>

    <tr class="table-row">
        <td class="table-first-col">{{id}}. {{burger_name}}</td>
        <td><button class="change-devour">Devour it!</button></td>
    </tr>

    <section class="row">
        <div class="col-4">
            <table>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-4">
            {{#each burgers}}
            {{#if devoured}}
            <div>{{burger_name}}</div>
            {{/if}}
            {{/each}}
        </div>
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="10"
                placeholder="What type of burger would you like to have?"></textarea>
        </div>
        <button type="submit">Click to add the burger here!</button>
    </form>
</div>