<h1>Hello! and welcome to the world of burgers!</h1>

<h3>Which Burger Would You Like?</h3>

<ul>
    {{#each linkRouteBurger}}
    {{#unless destroyBurger}}
    <h3>{{this.burgerName}}</h3>
    <button burgerId={{this.id}} class="burgerState">Eat me</button>
    {{/unless}}
    {{/each}}
</ul>