<h1>Hello! and welcome to the world of burgers!</h1>

<h3>Which Burger Would You Like?</h3>

<ul>
    {{#each linkRouteBurger}}
    {{#unless destroyBurger}}
    <h3>{{this.burgerName}}</h3>
    <button burgerId={{this.id}} class="burgerState">Eat me</button>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured by you.</h2>

<ul>
    {{#each linkRouteBurger}}
    {{#if destroyBurger }}
    <h3>{{this.burgerName}}</h3>
    {{/if}}
    {{/each}}
</ul>

<h2>Devour Your Own Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="burgerTitle" name="name">
    </div>

    <button id="button" type="submit">Add New Burger</button>
</form>

<script>
    $('#button').on('click', function (e) {
        e.preventDefault()
        $('#burgerTitle').val())
    $.ajax({
        url: '/api/addnew',
        data: { name: $('#burgerTitle').val() },
        type: 'POST'
    }).then(function (data) {
        window.location.reload();
    })
    }
    $('.burgerState').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            url: '/api/devoured/' + $(this).attr('burgerId'),
            type: 'PUT'
        }).then(function (data) {
            window.location.reload();
        })
    });
</script>